<!-- android/app/src/main/AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.divergent.alliance">

    <!-- Networking permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="${applicationName}"
        android:label="Divergent Alliance"
        android:icon="@mipmap/ic_launcher"

    <!-- Needed for local HTTP to 10.0.2.2 and modern back gesture -->
    android:usesCleartextTraffic="true"
    android:enableOnBackInvokedCallback="true">

    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:launchMode="singleTop"
        android:theme="@style/LaunchTheme"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
        android:hardwareAccelerated="true"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <!-- Required by Flutter embedding -->
    <meta-data
        android:name="flutterEmbedding"
        android:value="2" />
</application>
    </manifest>
